.nav {
  height: 108px;
  padding: 25px 0px;
  box-sizing: border-box;
}

.nav .nav-logo {
  float: left;
  height: 62px;
  width: 62px;
}

.nav .nav-items-left {
  float: left;
  display: flex;
  flex-wrap: wrap;
}

.nav .nav-items-right {
  position: absolute;
  right: 30px;
}

.nav .nav-item {
  display: inline-block;
  padding: 17px 24px;
}
