@import "~office-ui-fabric-react/dist/sass/References.scss";
@import "../../../commons/common";

.quickLinks {
  .quickLinksTitle {
    @include rightSideBarTitle;
  }

  .quickLinksItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .quickLinksItem:hover {
      cursor: pointer;
    }
    .quickLinksItem {
      background-color: #0074bd;
      display: inline-block;
      color: #ffffff;
      margin-right: 5px;
      margin-bottom: 5px;
      max-width: 200px;
      max-height: 200px;
      min-width: 110px;
      min-height: 110px;
      div {
        text-align: center;
        display: block;
      }
      img {
        margin-top: 20%;
        margin: 20% auto 0 auto;
        display: block;
      }
    }
  }
}
